<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="header.html :: header(userName=${userName}, userListRoles=${userListRoles})"></div>
	<main class="book-detail">
	<aside>
		<img th:alt="${book.name}" th:src="${book.image}"/>
		<nav>
			<form th:action="@{/book/voted/up}" th:object="${bookVoted}" method="post">
			
				<p>
					<input type="hidden" th:field="*{bookId}">
				</p>
			
				<p>
					<button name="submit" type="submit" th:text="#{vote_do_button}">Backup vote do</button>
				</p>
			
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />

		</form>
		</nav>
	</aside>
	<div class="book-detail-wrapper">
		<h1 th:text="${book.name}">backup h1</h1>
		<hr/>

		<h2>Auteurs</h2>
		<ul>
		<th:block th:each="author,iter: ${authorsList}">
			<li th:text="${author.name}"></li>
		</th:block>
		</ul>
		
		<h3>ISBN</h3>
		<p th:text="${book.isbn}"></p>

		<h4>Aankoopprijs</h4>
		<p th:text="|${#numbers.formatDecimal(book.price,1,2)}&euro;|"></p>
		

		<h4>Aantal sterren</h4>
		<p th:text="${numVotes}"></p>
		
		<h4>Locaties</h4>
		<table>
		<tr>
		    <th>Naam</th>
			<th>Code 1</th>
			<th>Code 2</th>
		</tr>

        <th:block th:each="location,iter: ${locationsList}">
			<tr>
			    <td th:text="${location.name}"></td>
			    <td th:text="${location.code1}"></td>
			    <td th:text="${location.code2}"></td>
				
			</tr>
		</th:block>

		</table>
		</div>
	</main>
</body>
</html>