<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{app_title}">Backup page title</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
  <body>
    <header th:fragment="header (userName, userListRoles)" class="header-flex">
      <div>
	      <h2 th:text="|Hallo ${userName} met rol ${userListRoles}|"></h2>
	      <form th:action="@{/logout}" method="post">
			<input type="submit" value="Uitloggen" /> 
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		  </form>
	  </div>
      <nav>
        <ul class="nav-flex">
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>