<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{app_title}">Backup page title</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="header.html :: header(userName=${userName}, userListRoles=${userListRoles})"></div>
	<main>
		<div class="catalogus-head">
		<h1 th:text="#{catalogus}" class="catalogus-title">Backup h1</h1>
		<a th:if="${isAdmin}" href="/add" th:text="#{voeg_toe}" class="catalogus-links">Backup voeg toe</a>
		<!-- <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" href="/add" th:text="#{voeg_toe}" class="catalogus-links">Backup voeg toe</a> Attempted to call method expression(java.lang.String) on null context object-->
		<a href="/popular" th:text="#{meest_populair}" class="catalogus-links">Backup populair</a>
		</div>
		<div th:if="${message}" th:class="${message.type}" th:text="${message.message}"></div>
		<div class="catalogus-wrapper">
		<th:block th:each="book,iter: ${bookList}">
			<div class="card catalogus-item">
      			<div class="content">
        			<img th:alt="${book.name}" th:src="${book.image}"/>
      			</div>
      			<footer>
      				<a th:href="|/book/${book.id}|" th:text="${book.name}"></a>
      				<p th:text="${book.author1}"></p>
      				<p th:text="${book.author2}"></p>
					<p th:text="${book.author3}"></p>
      			</footer>
    		</div>
		</th:block>
		
		<!-- 
		<table>
		<tr>
		    <th>Index</th>
			<th>Count</th>
			<th>Naam</th>
			<th>Auteur 1</th>
			<th>Auteur 2</th>
			<th>Auteur 3</th>
			<th>Afbeelding</th>
		</tr>

        <th:block th:each="book,iter: ${bookList}">
			<tr>
			    <td th:text="${iter.index}"></td>
			    <td th:text="${iter.count}"></td>
				<td>
				<a th:href="|/book/${book.id}|" th:text="${book.name}"></a>
				</td>
				<td th:text="${book.author1}"></td>
				<td th:text="${book.author2}"></td>
				<td th:text="${book.author3}"></td>
				<td th:text="${book.image}"></td>
			</tr>
		</th:block>

		</table>
		 -->
		</div>
	</main>
</body>
</html>